* {
  margin: 0;
  font-family: 'Poppins', monospace;
}

body {
  background-color: black;
  margin: 25px;
  min-width: 375px;
  max-width: 1400px;
}

@font-face {
  font-family: 'Bavista';
  src: url('./assets/fonts/Bavista_Soulare.ttf')
}

#languages-list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0 auto; 
  text-transform: uppercase;
}

.language-list-item {
  text-align: center;
  flex: 1 225px; /* each item takes up a minimum of 200px */
  margin: 10px;
} 


@media only screen and (max-width: 400px) {
  #languages-list {
    display: grid;
    justify-content: center;
    overflow: hidden;
  }
}

@media only screen and (max-width: 400px) {
  #language-list {
    display: grid;
    justify-content: center;
    overflow: hidden;
  }
}

@media only screen and (min-width: 800px) {
  #projects-container {
    width: '100%'
  }
}

#project-card:hover {
  
}

/* #project-card:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 253, 253, 0.724);
	-webkit-transition: none;
	   -moz-transition: none;
	        transition: none;
} */
/* 
#project-card:hover:after {
  width: 120%;
  background-color: rgba(255,255,255,00);
  
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
} */

.contact-and-icons {
  justify-content: center;
  display: 'flex';
  flex-wrap: wrap;
  flex-flow: row;
}







  

    




    
